body {
	font-family: 'Raleway', sans-serif;
	background-color: #e7e7e7;
}

.main-titles{
	margin: 15px;
	text-shadow: 1px 2px #808080;
}

.paperbox{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #DAD9DB;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	margin: 15px;
	margin-top: 0px;
	box-shadow: 4px 4px 4px #ADADAD;
	
	font-size: 16px;
	line-height: 135%;
}

.twitter-paperbox{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #DAD9DB;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin: 15px;
	margin-top: 0px;
	box-shadow: 4px 4px 4px #ADADAD;
}

.article-wrapper{   
	margin: 0px 15px 45px 15px;
	box-shadow: 4px 4px 4px #ADADAD;
	background-color: white;
    border-radius: 5px;
}

.article-header-wrapper{
	background-color: #5E5E5E;
	height: auto;
	position: relative;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 1px;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 10px;
}

.article-header-title{
	background-color: #5E5E5E;
	color: white;
	text-shadow: 1px 1px 0 #000;
}

.article-header-title > a{
	color: white;
	-o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
	transition:.4s;	
}

.article-header-title a:link .article-header-title a:visited .article-header-title a:active{
	color: white;
}

.article-header-title a:hover{
	color: #2BA4CC;
	text-decoration: none;
}

.article-content{
	background-color: white;
	height: auto;
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
	
	font-size: 16px;
	line-height: 160%;
}

.article-footer{
	position: relative;
	background-color: inherit;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	text-align: right;
}

.footer{
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    height: 100px;
	
	color: white;
	text-shadow: 1px 1px #303030;
}

.footer:after {
    content: "";
    display: block;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}

.align-center{
	text-align: center;
}

.textwrap{
	float: right;
	margin: 10px;
}

.centered{
	text-align: center;
}

.right{
 float: right;
}

.activelink{
background-color: #18132E;
}

.dropdownmenulink li:focus{
background-color: red;
color: red;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #18132E;
   border-color: #fff;
}
/* This code makes buttons blue after they have been visited :-(
.twitter a:link, a:visited{
	color: #4C99B5;
	font-weight: bold;
	text-decoration:none;
}
*/

.navigationbar{
  background-color:#352F4D;
  border: #352F4D;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #CAC9D1;
  background-color: transparent;
}

.navbar-nav.navbar-right:last-child {
  /*Move the fuckin' navbar links away from right corner*/
    margin-right: 15px;
}

.navbar-default .navbar-brand {
/*White brand name*/
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
color: #FFFFFF;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}	